# DomK: AGL + Eclipse Ankaios proof-of-concept guest.

seclabel='system_u:system_r:domU_t'

name = "DomK"
kernel = "/mnt/linux-domk"
memory = 1024
vcpus = 1
cpus = "3"
device_model_version = "qemu-xen"
on_crash = 'preserve'

extra = "root=/dev/vda rw rootwait console=hvc0 cma=256M"

virtio = [
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:01.0, grant_usage=1, backend_type=qemu',
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:02.0, grant_usage=1, backend_type=qemu',
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:03.0, grant_usage=1, backend_type=qemu',
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:04.0, grant_usage=1, backend_type=qemu',
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:05.0, grant_usage=1, backend_type=qemu',
    'backend=1, type=virtio,device, transport=pci, bdf=0000:00:07.0, grant_usage=1, backend_type=qemu',
]

device_model_args = [
    '-device', 'virtio-net-pci,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=1,romfile=,id=nic0,netdev=net0,mac=08:00:27:ff:cb:cd',
    '-netdev', 'type=tap,id=net0,ifname=vif-emu5,br=xenbr0,script=no,downscript=no,vhost=off',
    '-device', 'virtio-keyboard-pci,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=2',
    '-audiodev', 'none,id=snd0',
    '-device', 'virtio-snd-pci,audiodev=snd0,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=3',
    '-device', 'virtio-gpu-gl-pci,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=4,xres=1920,yres=720',
    '-display', 'sdl,gl=es',
    '-vga', 'std',
    '-device', 'virtio-tablet-pci,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=7',
    '-d', 'guest_errors',
    '-monitor', 'telnet:127.0.0.1:1236,server,nowait',
    '-global', 'virtio-mmio.force-legacy=false',
    '-device', 'virtio-blk-pci,scsi=off,disable-legacy=on,iommu_platform=on,bus=pcie.0,addr=5,drive=image',
    '-drive', 'if=none,id=image,format=raw,file=/dev/disk/by-partlabel/domk',
    '-name', 'DomK',
]

qemu_envs = [
    'WAYLAND_DISPLAY=wayland-0',
    'XDG_RUNTIME_DIR=/run',
    'SDL_VIDEODRIVER=wayland',
    'SDL_VIDEO_WAYLAND_WMCLASS=qemu-system-aarch64-domk',
]

disk = []
vif = []
